{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<article class="blog-post">
    <section class="col-auto d-none d-lg-block">
      <img src= {{ articulo.imagen.url }} class="img-fluid" alt="" />
    </section>

    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href= {% url 'apps.blog:categoria' categoria_slug=articulo.categoria.slug %} >{{ articulo.categoria }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ articulo.titulo }}</h2>
    <p class="blog-post-meta">{{ articulo.creacion|date:'d M Y' }} por <a href= {% url 'apps.blog:autor' autor=articulo.autor%} >{{ articulo.autor }}</a></p>

    <p class="lead my-3">{{ articulo.bajada }}</p>
    <hr>
    <p>{{ articulo.contenido|safe }}</p>

    <hr>

    <strong>Etiquetas:</strong>
    {% for etiqueta in articulo.etiquetas.all %}
      <span class="badge text-bg-dark">{{etiqueta.nombre|upper}}</span>
    {% endfor %}
  </article>

  <section class="my-3 mt-5 mb-5">
    <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:inicio' %}>Volver al Inicio</a>
    {% if request.user == articulo.autor %}
      <section class='float-end'>
        <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:actualizar_articulo' articulo_slug=articulo.slug %}>Editar</a>
        <a class="btn btn-dark rounded-pill" href={% url 'apps.blog:eliminar_articulo' articulo_slug=articulo.slug %}>Eliminar</a>
    </section>
    {% endif %} 
  </section>

  <!-- Comentarios -->
  {% block comentarios %}
 
    {% include 'blog/forms/crear_comentario.html' %}

  {% endblock comentarios %}

  {% comment %} <section>
    <strong>Deja tus comentarios aquí</strong>
    <div class="card">

      {% for comentario in articulo.comentarios.all %}
        <div class="card-body">
          <div class="d-flex flex-start align-items-center">
            <img class="rounded-circle shadow-1-strong me-3"
              src={% if request.user.is_superuser %} "{% static 'blog/img/user_admin.webp'%}"
                  {% elif request.user.is_staff %} "{% static 'blog/img/user_staff.webp'%}"
                  {% else %} "{% static 'blog/img/user_user.png' %}"
                  {% endif %}
              alt="avatar"
              width="60"
              height="60"
            />
            <div>
              <h6 class="fw-bold text-primary mb-1">{{ comentario.autor }}</h6>
              <p class="text-muted small mb-0">
                Comentado el - {{ comentario.creacion|date:'d M Y'  }}
              </p>
            </div>
          </div>

          <p class="mt-3 mb-4 pb-2">
            {{ comentario.contenido }}
          </p>
        </div>

      {% empty %}

        {% if request.user.is_active %}
          <div class="alert alert-danger mb-0" role="alert">
            <p>Aún no hay comentarios. Se el primero en hacerlo</p>
          </div>
        {% else %}
          <div class="alert alert-danger mb-0" role="alert">
            <p>Aún no estás registrado y no puedes comentar. ¡Regístrate gratis y disfruta de más opciones del Blog!</p>
          </div>
        {% endif %}

      {% endfor %}

      {% if request.user.is_active %}
        <form method='post'>
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src={% if request.user.is_superuser %} "{% static 'blog/img/user_admin.webp'%}"
                    {% elif request.user.is_staff %} "{% static 'blog/img/user_staff.webp'%}"
                    {% else %} "{% static 'blog/img/user_user.png' %}"
                    {% endif %}
                alt="avatar"
                width="40"
                height="40"
              />
              <div class="form-outline w-100">
                {% csrf_token %}
                {{ form }}
                <label class="form-label" for="textAreaExample">Comentario</label>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <input class="btn btn-primary btn-sm" type='submit' value='Publicar comentario' href={% url 'apps.blog:comentario' articulo_id=articulo.id %}>
              <a class="btn btn-outline-primary btn-sm" href={% url 'apps.blog:articulo' articulo_slug=articulo.slug %}>Cancelar</a>
            </div>
          </div>
        </form>
      {% endif %}

    </div>
  </section> {% endcomment %}


{% endblock contenido %}
